/* Estilo para el título de la sección */
.section-title {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #D9D8D8;
    margin-top: 5px;
}

/* Ocultar el h2 en pantallas pequeñas */
@media (max-width: 768px) {
    /*.section-title {*/
    /*    display: none;*/
    /*}*/

    .search-bar {
        margin-top: 20px;
    }
}

/* Estilos de la barra de búsqueda */
.search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
    position: relative;
}

.search-input {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ffa500;
    outline: none;
    width: 100%;
}

.search-input::placeholder {
    color: #645f5f;
}

.search-input:focus {
    border-color: #ff8c00;
}

/* Estilos de la lista de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.product-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
}

.product-image {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.product-details h3 {
    margin: 0;
}

.product-details p {
    margin: 5px 0;
}

button {
    padding: 7px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}